<template>
    <FormClientView :id="id" />
</template>

<script>
import FormClientView from './FormClientView';

export default {
    created () {
        this.id = this.$route.params.id;
    },
    components: {
        FormClientView
    }
};
</script>