<template>
    <nav v-if="logged">
        <router-link to="/">Listar Clientes</router-link>
        <router-link to="/save-client">Criar Cliente</router-link>
        <a href="#" @click="logout">Logout</a>
    </nav>
</template>

<script>
import { userService } from '../services';
import { router } from '../router';

export default {
    data () {
        return {
            logged: false
        }
    },
    methods: {
        logout() {
            userService.logout();
            router.push({path: '/login'});
        }
    },
    created () {
        this.logged = userService.isLogged();
    }
}
</script>