<template>
    <div class="container">
        <HeaderView />
        <h1 class="mt-4 text-center">Listar Clientes</h1>
        <div v-if="errors && errors.length" class="alert alert-danger">
            <p v-for="error in errors" v-bind:key="error">{{error}}</p>
        </div>
        <div class="table-responsive">
            <table class="table mt-5" v-if="clientsPage && clientsPage.content && clientsPage.content.length">
                <thead>
                    <tr>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="client in clientsPage.content" :key="client.cpf">
                        <th scope="row">{{ client.cpf }}</th>
                        <td>{{ client.fullName }}</td>
                        <td>{{ client.birthDate }}</td>
                        <td>
                            <router-link :to="`/save-client/${client.cpf}`" title="Editar">
                                <i class="fa fa-edit"/>
                            </router-link>
                            <a class="remove cursor-active" title="Remover" @click="removeClient(client.cpf)">
                                <i class="fa fa-trash"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" 
            v-if="clientsPage && clientsPage.content && clientsPage.content.length">
            <ul class="pagination justify-content-end">
                <li class="page-item" :class="{ 'disabled' : page === 0 }">
                    <a class="page-link" href="#" @click="backPage">Anterior</a>
                </li>
                <li class="page-item" :class="{ 'disabled' : page === index-1 }" v-for="index in pages" :key="index">
                    <a class="page-link" href="#" @click="goToPage(index)">{{ index }}</a>
                </li>
                <li class="page-item" :class="{ 'disabled' : page === pages-1 }">
                    <a class="page-link" href="#" @click="nextPage">Próximo</a>
                </li>
            </ul>
        </nav>
        <em v-if="loading">Loading users...</em>
    </div>
</template>

<script>
import HeaderView from "./HeaderView";
import { clientService } from '../services';

export default {
    data () {
        return {
            clientsPage: {},
            pages: 0,
            page: 0,
            loading: false,
            errors: []
        }
    },
    created () {
        this.findAll();
    },
    methods: {
        findAll() {
            this.loading = true;
            clientService.findAll(this.page, this.size).then(clientsPage => {
                this.clientsPage = clientsPage;
                this.pages = this.clientsPage.totalPages;
                if (this.clientsPage && this.clientsPage.numberOfElements === 0 && this.page-1 < this.pages && this.page > 0) {
                    this.page--;
                    this.findAll();
                } else {
                    this.page = this.clientsPage.number;
                    this.loading = false;
                }
            });
        },
        removeClient(cpf) {
            this.loading = true;
            clientService.deleteByCpf(cpf)
                .then(
                    () => {
                        this.loading = false;
                        this.findAll();
                    },
                    error => {
                        this.errors = error.message.split('\n');
                        this.loading = false;
                    }
                );
        },
        backPage() {
            if (this.page > 0) {
                this.page--;
                this.findAll();
            }
        },
        nextPage() {
            if (this.page < this.pages-1) {
                this.page++;
                this.findAll();
            }
        },
        goToPage(page) {
            if (page >= 1 && page <= this.pages && this.page !== page-1) {
                this.page = page-1;
                this.findAll();
            }
        }
    },
    components: {
        HeaderView
    }
};
</script>
