<template>
    <div class="container">
        <h1 class="mt-4 text-center">Listar Endereços</h1>
        <div class="table-responsive">
            <table class="table mt-5" v-if="addresses && addresses.length">
                <thead>
                    <tr>
                        <th scope="col">CEP</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Número</th>
                        <th scope="col">Complemento</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="address in addresses" :key="address.postalCode">
                        <th scope="row">{{ address.postalCode }}</th>
                        <td>{{ address.street }}</td>
                        <td>{{ address.number }}</td>
                        <td>{{ address.complement }}</td>
                        <td>{{ address.district }}</td>
                        <td>{{ address.city }}</td>
                        <td>{{ address.state }}</td>
                        <td>
                            <a class="remove cursor-active" title="Remover" @click="removeAddressChild(address)">
                                <i class="fa fa-trash"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

export default {
    methods: {
        removeAddressChild (address) {
            this.removeAddress(address);
        }
    },
    props: {
        addresses: {
            type: Array
        },
        removeAddress: {
            type: Function
        }
    }
};
</script>